<!-- Benutzt, um Navigationsleiste zu rendern -->
{% from 'bootstrap5/nav.html' import render_nav_item %} 
<!DOCTYPE html>
<html>

<head>
  <!-- Google Fonts "Jost" importieren (Source [4]) https://fonts.google.com/specimen/Jost -->
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet"> 
   
   <!-- Zeichenkodierung -->
    <meta charset="utf-8">

    <!-- Seite responsiv -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <!-- Name der Seite im Browser-Tab-->
    <title > CityRate </title>

    <!-- Bootstrap CSS (Quelle [2]) -->
    {{ bootstrap.load_css() }}  

<!--Sytle in eigener CSS-Datei definiert und verlinkt -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


<!-- Sytle die nur für diese Seite relevant sind -->
<style> 

/*Bild der Stadt oben*/
.city-image {
  width: 450px;
  height: 450px;
  object-fit: cover; /* Zuschneiden, nicht zusammenquetschen */
  display: block;
  margin: 0 auto;
}

/*Liste von anderen Reviews*/
.list-bg {
    background-color: #BCD4DE;
    color: #336699;
    }


</style>
</head>

<!-- Body -->
<body> 

<!-- Navigationbar von Bootstrap 5 (Quelle [1]) -->
<!-- NavBar die sich der Seitengröße anpasst und oben fixiert ist -->
  <nav class="navbar navbar-expand-xl border-bottom mb-3 fixed-top"> 

  <!-- Container ohne horizontale Innenabstände (px-0), damit alles bündig ist -->
  <!-- Beeinhaltet CityRate-Logo, Collapse-Menü und Button zum Aufklappen-->
        <div class="container-fluid px-0">

            <!-- Link mit dem "CityRate" zur Startseite, Links-bündig -->
            <a class="navbar-brand" href="{{ url_for('home') }}"  style ="padding-left: 15px;" >CityRate</a>
            
            <!--Schaltfläche, die auf kleinen Bildschirmen das Menü ein- und ausklapp -->
            <!--Verweist auf das Ziel-Element (das <div> mit id="navbarSupportedContent")-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                <!-- "Bürger"-Icon, um das Menp aufzuklappen -->
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Eingeklapptes Menü, das durch den Button oben ein- und ausgeblendet wird -->
            <!--Hierauf wird im Menü verwiesen-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Linke Seite -->
    <!-- 2 Links, links in der Navigationsbar zur Seiten search und profile-->
    <!-- render_nav_item ist Hilf-Funktion, die funktionale Bootstrap-Menüpunkte erzeugt und selbst designed -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 15px;">
        {{ render_nav_item('search', 'Search for Cities') }} 
        {{ render_nav_item('profile', 'Your Account') }}
    </ul>

    <!-- Rechte Seite -->
    <!-- 2 Buttons die Seiten login und register verlinken-->
    <!-- Mit Design für button1 und button2, in der CSS-Datei selbst festgelegt -->
    <div>
    <a href="{{ url_for('login') }}" class="btn custom-button1">Login</a> <!-- Verlinkt diese Seiten -->
    <a href="{{ url_for('register') }}" class="btn custom-button2">Sign Up</a>
    </div>
</div>
        </div>
    </nav>



<!-- Header -->
    <header>
        <!-- Überschrift des Stadtnamen, dabei wird die Variable city von render_template(...) in app.py übergeben -->
        <!-- Mit dieser City-Varibale können die Informationen aus der DB zu dieser Stadt ausgelesen werden-->
        <h1>{{ city['name'] }}</h1> 
        <p class="fw-bold mb-3 text-center">{{ city['description'] }}</p> 
        <!-- Gibt dynamischen Pfad zum Bild, wobei platzhalter des Namens weider von DB kommt-->
       <img src="{{ url_for('static', filename='images/' ~ city['image_path']) }}" alt="{{ city['name'] }}" class="city-image"> 
    </header>


 <!-- Main Inhalt in einem Container -->
    <main class="container mt-5">


    <!-- Vorherige Reviews anzeigen -->
    <h2 class="text-center">Reviews about {{ city['name'] }}</h2>

    <!-- Displaying saved reviews from DB  (ChatGPT Quelle [2]) -->
    <!-- Bootstrap List group (Quelle [6]) https://getbootstrap.com/docs/4.0/components/list-group/ -->
    <!-- Dalls es Reviws gibt, wird über die Vorhandenen Iteriert -->
    {% if reviews %} 
        {% for review in reviews %}
            <!-- Für jede Bewertung wird eine Bootstrap-Karte erstellt -->
            <div class="card mb-3"> 
                <!-- Container für Inhalt der Karte -->
                <div class="card-body"> 
    <!-- Was in der jeweligen Karte für jede Iteration angezeigt wird --> 

    <!-- Platzhalter {{ review.x }} werden durch Daten in DB erstezt -->  
    <!-- Gesamtbewertung -->     
    <h5 class="card-title">Overall-Rating: {{ review.overall_rating }}/5</h5>
    <!-- Liste in der alle Detail-Ratings dagestellt werden-->
    <ul class="list-group list-group-flush">
    <li class="list-group-item list-bg">Uni Rating: {{ review.uni_rating }}/5</li>
    <li class="list-group-item list-bg">Freetime Rating: {{ review.freetime_rating }}/5</li>
    <li class="list-group-item list-bg">Nightime Rating: {{ review.nightime_rating }}/5</li>
    <li class="list-group-item list-bg">Campus Life Rating: {{ review.campus_life_rating }}/5</li>
    <li class="list-group-item list-bg">Transportation Rating: {{ review.transportation_rating }}/5</li>
    <li class="list-group-item list-bg">Cost Rating: {{ review.cost_rating }}/5</li>
    <li class="list-group-item list-bg">Living Rating: {{ review.living_rating }}/5</li>
    <li class="list-group-item list-bg">Work Opportunities Rating: {{ review.workopportunities_rating }}/5</li>
    <li class="list-group-item list-bg">Safety Rating: {{ review.safety_rating }}/5</li>
    <li class="list-group-item list-bg">Food Rating: {{ review.food_rating }}/5</li>
    <li class="list-group-item list-bg">Communication Rating: {{ review.comunication_rating }}/5</li>
</ul>

    <!--  Falls ein Kommentar vorhanden ist, wird dieser angezeigt -->
    {% if review.comment %}
    <!-- Über Bootstrap-Klasse "card-text mt-3" als Text in der Karte (mt = margin-top, also Abstand oben) -->
        <p class="card-text mt-3">{{ review.comment }}</p>
    <!-- Schließt die if-Bedingung oben ab-->
    {% endif %}

    <!-- Wird immer angezeigt -->
    <!--  Bootstrap-Klasse card-subtitle für Karten-Untertitel, text-muted macht den Text grau -->
    <!-- Gibt Zeitstempler der Review an-->
    <p class="card-subtitle text-muted"><small>{{ review.created_at }}</small></p>
</div>

            </div>
        <!-- Ende der Abfrage, ob es Reviews gibt-->
        {% endfor %}

        <!-- Und wenn es gar keine Rewievs gibt, wird das angezeigt-->
    {% else %} 
        <p class="text-center">No reviews yet. Be the first to leave one!</p> <br>
    {% endif %}

    <a href="{{ url_for('review', city_name=city.name)  }}" class="btn custom-button2">Write your own Review!</a> 

 <div>
    <br>
    <h5 class="text-center">Do you have any Questions about the city? Or would you like to connect to other students or travellers? Leave a message on our Bulletin Board!</h5> <br>
    <a href="{{ url_for('bulletin', city_name=city.name) }}" class="btn custom-button1">Write a message</a>
    <p class="text" style="font-weight: bold; margin-bottom: 40px"></p>
    </div>

</main>



    <!-- Lädt die Bootstrap JS-Dateien (z. B. für das Carousel) -->    
    <!-- Bootstrap JS (Quelle [2]) -->
    {{ bootstrap.load_js() }} 
    
</body>
</html>