<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- (1.) -->
    <title > CityRate </title>
    {{ bootstrap.load_css() }}  <!-- (2.) -->
</head>
   
<body>
    <h1 > CityRate </h1>

    <h2 >The Site to help you find your erasmus destination</h2>
    
    <img src="/static/images/homepage_pic.jpg" alt="Homepage Image">
    <main>
            <p class="text">CityRate is a web app that creates a student-community that helps each other share experiences and tipps about their erasmus or semester abroad in europe. 
            <br> Find a city to find and leave reviews to through user-generated reviews and ratings. </p>
       
    <ul>
        <li><a href="/profile">zur profilseite</a></li>
        <li><a href="/search">zur suche</a></li>
    </ul>
    </main>
    {{ bootstrap.load_js() }}  <!-- (3.) -->
</body>

</html>