<!DOCTYPE html>
<html>

<head>
 <style>
            body{background-color:rgb(238, 237, 183);}
            p.text{color:rgb(41, 71, 131); text-align: center;  font-size: 1.2em; }
            h1, h2 { color: rgb(41, 71, 131); text-align: center;}
            img { width: 100%;height: auto;}
        </style>
        
    <title > CityRate </title>
</head>


<body>
    <h1 > CityRate </h1>

    <h2 >The Site to help you find your erasmus destination</h2>
    
    <img src="/static/images/homepage_pic.jpg" alt="Homepage Image">
    <main>
            <p class="text">CityRate is a web app that creates a student-community that helps each other share experiences and tipps about their erasmus or semester abroad in europe. 
            <br> Find a city to find and leave reviews to through user-generated reviews and ratings. </p>
       
    <ul>
        <li><a href="/profile">zur profilseite</a></li>
        <li><a href="/search">zur suche</a></li>
    </ul>
    </main>
</body>

</html>