{% from 'bootstrap5/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet"> <!-- Schriftart importieren -->
    <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- (1.) -->
    <title > Review </title>
    {{ bootstrap.load_css() }}  <!-- (2.) -->
</head>

<body style ="padding-top: 100px; background-color: #fff9c4; font-family: 'Urbanist', sans-serif;"> <!-- Damit Navigationsbar nicht Body-Inhalt verdeckt bekommt Body oben Padding -->
<nav class="navbar navbar-expand-xl border-bottom mb-3 fixed-top" 
     style="background-color: rgb(101, 180, 233); opacity: 1;"> <!-- Navigationsleiste oben fixiert -->
        <div class="container-fluid px-0">
            <a class="navbar-brand" href="{{ url_for('home') }}"  style ="padding-left: 15px;" >CityRate</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style ="padding-left: 15px;">
                    {{ render_nav_item('city', 'Search for city') }}
                    {{ render_nav_item('profile', 'Your Profile') }}
                    {{ render_nav_item('home', 'Go back to Home') }}
                </ul>
            </div>
        </div>
    </nav>
    <h1> hier review schreiben </h1>
    <ul>
        <li><a href="/user">zur userseite</a></li>
        
    </ul>
    {{ bootstrap.load_js() }}  <!-- (3.) -->
</body>

</html>